* {
  margin: 0;
  padding: 0;
  border: 0;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

a:focus, a:active {
  outline: 0;
}

a:visited, a:hover {
  text-decoration: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.section .section__link {
  display: inline-block;
  padding: 10px 55px;
  font-size: 1.84em;
  font-family: Arial, sans-serif;
  text-decoration: none;
  color: #000;
  background: #ffaed3;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffaed3), color-stop(50%, #ffd3e7), to(#ffaed3));
  background: -webkit-linear-gradient(top, #ffaed3 0%, #ffd3e7 50%, #ffaed3 100%);
  background: -o-linear-gradient(top, #ffaed3 0%, #ffd3e7 50%, #ffaed3 100%);
  background: linear-gradient(180deg, #ffaed3 0%, #ffd3e7 50%, #ffaed3 100%);
  border: 5px double #fff;
  border-radius: 100px;
  -webkit-box-shadow: 0px 0px 10px 2px #efebed;
          box-shadow: 0px 0px 10px 2px #efebed;
}
