a {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 11px;
    color: #3a681a;
}
a:hover {
    color: #5ca22e;
}
a:active {
    color: #dc0000;
}
.pole,
.pole2 {
    border: 1px solid #008000;
    font-size: 11px;
    background-color: #e7f2d7;
    height: 17px;
}
.pole {
    width: 95px;
}
