table {
    width: 100%;
    border-collapse: collapse;
}

td:first-child {
    color: #fff;
    background-color: red;
}

td:nth-child(2) {
    color: #888;
    background-color: orange;
}

td:last-child {
    background-color: yellow;
}